<% include header %>

<div class="container-fluid">

  <!-- Page Heading -->
  <h1></h1>
  <h1 class="h3 mb-2 text-gray-800">출금 완료 후 포인트 차감 설명서</h1>
  <p class="mb-4">출금신청한 고객의 출금신청까지의 여정</p>
  <div style="color:black;">
    1. overview > 출금신청한 사용자 확인하기<br>
    사용자의 kakao_id 확인 및 포인트 확인 <br><br>
    2. overview > 불편사항 확인하기 <br>
    kakao_id로 검색해서 불편내역들 확인하기 포인트 적립 가능한 내역인지 추가 포인트 적립이 되는 불편인지 확인 <br><br>
    3. function > 출금신청 후 포인트 차감 <br>
    "특정 사용자의 포인트 차감" 기능을 사용해서 적립 어려운 불편 내역들에 대한 포인트 차감  <br>
    고객 안내메시지 전달 이후  <br>
    포인트 차감 + 출금신청 값 초기화 <br> 
  </div>
      
</div>
</div>
</div>
</div>

  <!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
  <i class="fas fa-angle-up"></i>
</a>

<!-- Bootstrap core JavaScript-->
<script src="/resource/vendor/jquery/jquery.min.js"></script>
<script src="/resource/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="/resource/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="/resource/js/sb-admin-2.min.js"></script>

<!-- Page level plugins -->
<script src="/vendor/chart.js/Chart.min.js"></script>

<!-- Page level custom scripts -->
<script src="/resource/js/demo/chart-area-demo.js"></script>
<script src="/resource/js/demo/chart-pie-demo.js"></script>
<% include footer %>